<%= render partial: 'spree/shared/error_messages', locals: { target: @user } %>
<div class="panel panel-default">
    <div class="panel-heading">
      <%= I18n.t('spree.registration') %>
    </div>
    <div class="panel-body">
    <div id="registration" class="row" data-hook>
      <div id="account" class="col-md-6">
        <div class="col-md-8 col-md-offset-2">
          <%= render partial: 'spree/user_sessions/login' %>
        </div>
      </div>

      <% if Spree::Config[:allow_guest_checkout] %>
        <div id="guest_checkout" data-hook class="col-md-6">
          <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-info">
              <%= I18n.t('spree.guest_user_account') %>
            </div>
              <% if flash[:registration_error] %>
                <div class='flash error'><%= flash[:registration_error] %></div>
              <% end %>
              <%= form_for @order, url: update_checkout_registration_path, method: :put, html: { id: 'checkout_form_registration' } do |f| %>
                <div class="form-group">
                  <%= f.label :email, I18n.t('spree.email') %>
                  <%= f.email_field :email, class: 'title form-control' %>
                </div>
                <div class="action"><%= f.submit I18n.t('spree.continue'), class: 'btn btn-primary btn-block' %></div>
              <% end %>
            </div>
          <% end %>
          </div>
    </div>
  </div>
</div>
