<% if flash[:alert] %>
  <div class="flash errors"><%= flash[:alert] %></div>
<% end %>

<% @body_id = 'login' %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div id="existing-customer" class="panel panel-default">
      <div class="panel-heading"><%= I18n.t('spree.login_as_existing') %></div>
      <div data-hook="login" class="panel-body">
        <%= render partial: 'spree/shared/login' %>
        <hr>
        <%= I18n.t('spree.or') %>&nbsp;<%= link_to I18n.t('spree.create_a_new_account'), spree.signup_path %> | <%= link_to I18n.t('spree.forgot_password'), spree.recover_password_path %>
      </div>
    </div>
    <div data-hook="login_extras"></div>
  </div>
</div>
